server {
    listen 127.0.0.1 8080

    root /Users/houbeid/Desktop/webserv/test/
    allowed_methods DELETE 
    server_name test.com www.test.com

    autoindex on

    error_page 500 /custom_50x.html
    error_page 504 /custom_50x.html
    error_page 404 /error/404.html
    max_body_size 1

    location / [
        autoindex on
        allowed_methods POST GET DELETE
        root /Users/houbeid/Desktop/webserv/test/
        cgi py /usr/bin/python
        cgi php ./bin/php-cgi
        index index.php
    ]
    location /cgi [
        allowed_methods POST GET DELETE
        root /Users/ael-azra/Desktop/webserv/testDelete/
    ]
    location /test [
        allowed_methods POST GET DELETE
        root /Users/ael-azra/Desktop/webserv/
        index index.png index.htm
        cgi php ./bin/php-cgi
        cgi py /usr/bin/python
        return 301 https://google.com/
    ]
}

server {
    listen 127.0.0.1 7000

    root /Users/houbeid/Desktop/webserv/test/
    server_name test.com www.test.com

    error_page 500 /custom_50x.html
    error_page 504 /custom_50x.html
    error_page 404 /error/404.html
    max_body_size 1

    location / [
        autoindex on
        allowed_methods POST GET DELETE
        root /Users/houbeid/Desktop/webserv/
        cgi py /usr/bin/python
        cgi php ./bin/php-cgi
    ]
}

