server {
    listen 127.0.0.1 7000

    root /var/www/test/html/general
    allowed_methods DELETE GET POST
    server_name test.com www.test.com

    autoindex on

    error_page 500 /custom_50x.html
    error_page 504 /custom_50x.html
    error_page 404 /error/404.html
    max_body_size 50

    location / [
        allowed_methods POST GET DELETE
        root /Users/ael-azra/Desktop/tests
        index hello.html index.php
    ]

    location /users [
        allowed_methods GET
        root /var
        index index.py
        return 301 https://google.com/
        upload_path /tmp/test/
    ]
}

server {
    listen 127.0.0.1 8080

    root /var/www/test/html/general
    allowed_methods DELETE 
    server_name test.com www.test.com

    autoindex on

    error_page 500 /custom_50x.html
    error_page 504 /custom_50x.html
    error_page 404 /error/404.html
    max_body_size 50

    location / [
        autoindex on
        allowed_methods POST GET DELETE
        root /Users/ael-azra/Desktop/webserv/test
        cgi py /usr/bin/python
        cgi php ./bin/php-cgi
        index test.php
    ]
    location /users/test [
        allowed_methods POST DELETE
        root /Users/ael-azra/Desktop/webserv/test
        index hello.html index.php
    ]
    location /users/test/file [
        allowed_methods POST GET DELETE
        root /Users/ael-azra/Desktop/webserv/test
        index hello.html
    ]

    location /users [
        allowed_methods POST GET
        root /var
        index index.png index.htm
        cgi php path/
        cgi py /usr/bin/python
        return 301 https://google.com/
        upload_path /tmp/test/
    ]
}